<p>
    Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>


<!--<pre>{{data.productsInMyCart}}</pre>-->

<div class="col-lg-4">
    <h2>My shopping cart</h2>
    <form action="#" method="POST">
        <ul class="list-group">
            <li class="list-group-item" ng:repeat="item in data.productsInMyCart.items">
                <h4 class="list-group-item-heading">{{item.product.name}}
                    <span class="badge">{{item.quantity}}</span>
                </h4>
                <p class="list-group-item-text">{{item.product.price}}</p>
                <p class="list-group-item-text"><a href="#">Remove from cart</a></p>
            </li>
        </ul>
        <p>
            <input type="text" class="form-control" placeholder="Delivery location" />
        </p>
        <div>
            <button class="btn btn-primary">Buy articles</button>
            <button class="btn btn-danger">Clear cart</button>
        </div>
    </form>
</div>
