<h2>My shopping cart</h2>

<div id="cartContent">
    <ul id="cartitemlist" class="list-group"></ul>

    <p>
        <input type="text" class="form-control" placeholder="Delivery location" />
    </p>
    <div>
        <button class="btn btn-primary">Buy articles</button>
        <button class="btn btn-danger">Clear cart</button>
    </div>
</div>
<div id="emptyCart" class="help-block">Your shopping cart is empty, please click on <em>add to cart</em> on the left to add a bike to your shopping cart</div>
